extends ../layout
block content
    h3 Users
    if loggedUser.isAdmin
        a#newButton.waves-effect.waves-light.btn.green
            i.material-icons add
    table.highlight
        thead
            tr
                th Name
                th Last Name
                th Birthday
                th Username
                th Role
                if loggedUser.isAdmin
                    th Actions
        tbody#table
            each user in users
                include ./row
    if loggedUser.isAdmin
        #modal.modal
            .modal-content
                h4#modalTitle
                .row
                    input#inputId.validate(type="hidden")
                    .input-field.col.s12.m6
                        input#inputName.validate(type="text")
                        label(for="inputName") First Name
                    .input-field.col.s12.m6
                        input#inputLastName.validate(type="text")
                        label(for="inputLastName") Last Name
                    .input-field.col.s12.m6
                        select#selectRole
                            -var i = true
                            each role in roles
                                option(value=role._id, selected=(i)? true : false )=role.name
                                -i = false
                        label(for="selectRole") Role                
                    .input-field.col.s12.m6
                        input#inputUsername.validate(type="text")
                        label(for="inputUsername") Username
                    .input-field.col.s12.m6
                        input#inputPassword.validate(type="password")
                        label(for="inputPassword") Password
                    .input-field.col.s12.m6
                        input#inputRepeatPassword.validate(type="password")
                        label(for="inputRepeatPassword") Repeat Password
                    .input-field.col.s12.m6
                        input#inputBirthday.datepicker(type="text", data-max=new Date())
                        label(for="inputBirthday") Birthday
                    .input-field.col.s12.m6
                        input#inputEmail.validate(type="email")
                        label(for="inputEmail") Email
                    .input-field.col.s12.m3
                        input#inputPasswordExpirationDate.datepicker(type="text", data-min=new Date(), data-original=new Date())
                        label(for="inputPasswordExpirationDate") Password Expiration date
                    .input-field.col.s12.m3
                        input#inputPasswordExpirationTime.timepicker(type="text", data-original="10:00")
                        label(for="inputPasswordExpirationTime") Password Expiration time
                    .input-field.col.s12.m6
                        label
                            input#checkForceUpdatePassword(type='checkbox', data-original="true")
                            span Force Password to update on first login
                    ul#errorMessage.red-text.col.s12
            .modal-footer
                a.modal-close.waves-effect.waves-red.btn-flat(href='javascript:void(0);') Cancel
                a#modalSubmit.waves-effect.waves-green.btn-flat(href='javascript:void(0);')
        block scripts
            script(src="/js/user.js")