extends ../layout
block content
    h3 Users
    a#newButton.waves-effect.waves-light.btn.green
        i.material-icons add
    table.highlight
        thead
            tr
                th Name
                th Last Name
                th Birthday
                th Actions
        tbody#table
            each user in users
                include ./row
    #modal.modal
        .modal-content
            h4#modalTitle
            .row
                input#inputId.validate(type='hidden')
                .input-field.col.s12.m6
                    input#inputName.validate(type='text')
                    label(for='inputName') First Name
                .input-field.col.s12.m6
                    input#inputLastName.validate(type='text')
                    label(for='inputLastName') Last Name
                .input-field.col.s12.m6
                    input#inputBirthday.datepicker(type='text')
                    label(for='inputBirthday') Birthday
        .modal-footer
            a.modal-close.waves-effect.waves-red.btn-flat(href='#!') Cancel
            a#modalSubmit.waves-effect.waves-green.btn-flat(href='#!')
            
block scripts
    script(src='/js/user.js')